.shop-page {
  max-width: 1300px;
  margin: 1rem auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.shop-page-title {
  font-size: 1.5rem;
  color: #52796f;
  margin-bottom: 1rem;
  margin-left: 8px;
}

.shop-page-products {
    display: flex;
    width: 100%;

}
