.shop-page-products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  flex-direction: column;
  justify-content: space-between;
}

.grid_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}